

body {
	color: #777;
    background-color: #000;
    font-family: Consolas, Courier, "monospace";
}

.lambda {
	font-family: "Times New Roman", Calibri, Symbol, Cambria;
	font-size: 1.2em;
	color: #F07;
}

header {
	text-align: center;
}

a {
	color: #FF7;
}

a[href="index.html"] {
	margin-right: 1em;
}

a[href="gamedev.html"] {
	margin-left: 1em;
}

main > p {
	text-indent: 3em;
}

h3 {
	color: #777;
}

dt {
	color: #F07;
}

dd {
	color: #777;
}

.lititle {
	color: #07F;
}

ol > li {
	color: #F07;
}

ol > li > span {
	color: #F7F;
}

.keyword {
	color: #7F0;
}

footer {
	text-align: center;
	color: #F07;
}

@media only screen and (max-width: 550px) {
	h1 {
		font-size: 5.5vw;
	}

	.lambda {
		font-size: 6vw;
	}

	a {
		font-size: 2.6vw;
	}

	p {
		font-size: 2.6vw;
	}

	h3 {
		font-size: 3.1vw;
	}

	dt {
		font-size: 2.6vw;
	}

	dd {
		font-size: 2.6vw;
	}

	li {
		font-size: 2.6vw;
	}

	footer {
		font-size: 2.6vw;
	}

	video {
		width: 87vw;
	}
}
